* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('/assets/jungle2.png');
   background-size: cover;
}

.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 100px 0 rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url('/assets/backdrop.jpg');
   background-size: contain;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.pika {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.walls {
  background-image: url('/assets/testTile.png'); 
  background-size: contain;
}

.pacman {
  background-image: url('/assets/indi.png');
   background-size: contain;
}

.fruit {
   background-image: url('../assets/gem.png'); 
   background-size: contain;
}

.bigFruit {
  background-image: url('/assets/ruby.png'); 
  background-size: contain;
}

.greenGhost {
  background-image: url('/assets/greenSnake.png');
   background-size: contain;
}

.redGhost {
  background-image: url('/assets/redSnake.png');
   background-size: contain;
}

.yellowGhost {
  background-image: url('/assets/brownSnake.png');
   background-size: contain;
}

.pinkGhost {
  background-image: url('/assets/pinkSnake.png');
   background-size: contain;
}

.scaredGhost {
  background-image: url('https://www.pngfind.com/pngs/m/105-1056741_image-result-for-pacman-scared-ghost-pacman-dark.png');
   background-size: contain;
}

.eatenGhost {
  background-image: url('/assets/death.png');
  background-size: contain;
}

.trapOne {
  background-image: url('/assets/trapOneTest.png');
  background-size: contain;
}

.fire {
  background-image: url('/assets/fire.png');
  background-size: contain;
}