* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('/assets/jungle2.png');
   background-size: cover;
   font-family: 'Gotu', sans-serif;
   font-weight: 400;
}

.main-menu {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-menu .parchment {
  background-image: url('/assets/parchment.png');
  background-size: contain;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  /* margin: 0 auto; */
}

.main-menu .logo {
  margin-top: 20px;
  width: 70%;
}

.main-menu p {
  margin: 2px;
}

.main-menu .main-gem {
  width: 10%;
  margin: 10px 0 -20px 0
}

.main-menu .main-fire {
  width: 5%;
  margin: 0 auto;
}

.main-menu .main-ruby {
  width: 6%;
  margin: 0 auto;
}

.main-menu button {
  margin: 20px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
  font-size: 15px;
  background: rgb(161, 139, 110);
  border: 2px solid rgb(78, 68, 54);
  color: white;
}

.main-menu button:hover {
  background-color: ;
}

.controls-wrapper {
  height: 10vh;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 100px 0 rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url('/assets/backdrop.jpg');
   background-size: contain;
   visibility: hidden;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.pika {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.walls {
  background-image: url('/assets/testTile.png'); 
  background-size: contain;
}

.pacman {
  background-image: url('/assets/indi.png');
   background-size: contain;
}

.fruit {
   background-image: url('../assets/gem.png'); 
   background-size: contain;
}

.bigFruit {
  background-image: url('/assets/ruby.png'); 
  background-size: contain;
}

.greenGhost {
  background-image: url('/assets/greenSnake.png');
   background-size: contain;
}

.redGhost {
  background-image: url('/assets/redSnake.png');
   background-size: contain;
}

.yellowGhost {
  background-image: url('/assets/brownSnake.png');
   background-size: contain;
}

.pinkGhost {
  background-image: url('/assets/pinkSnake.png');
   background-size: contain;
}

.scaredGhost {
  background-image: url('/assets/scaredSnake.png');
   background-size: contain;
}

.eatenGhost {
  background-image: url('/assets/death.png');
  background-size: contain;
}

.trapOne, .trapTwo {
  background-image: url('/assets/trapOneTest.png');
  background-size: contain;
}

.fire {
  background-image: url('/assets/fire.png');
  background-size: contain;
}